* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #0E0E0E;
}

.header-big-div {
    width: 100%;
    background: #F2F2F2;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
}

.header-container {
    max-width: 1028px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.Hours {
    color: #1C2752;
    font-family: Inter;
    font-size: 18px;
}


.main-container {
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 68px;
}

.main-mail {
    display: flex;
    max-width: 242px;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.maill {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.Us {
    color: #DD2590;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.com {
    color: #7E7E7E;

    font-family: Inter;
    font-size: 18px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    flex-direction: column;
    gap: 104px;
}

.Experience-container {
    min-height: 825px;
    width: 100%;
    background-image: url(../img-folder/image\ \(13\).png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.Experience-box {
    display: flex;
    max-width: 1028px;
    width: 100%;
    padding-bottom: 56px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.Experience-div {
    display: flex;
    max-width: 619px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.Experience {
    display: flex;
    padding: 8px 16px 7px 16px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background: rgba(255, 255, 255, 0.20);
}

.Providee {
    display: flex;
    height: 29px;
    align-items: center;
    gap: 10px;
}

.NFT {
    color: #FFF;

    font-family: Inter;
    font-size: 18px;
}

.Digitall {
    color: #FFF;

    font-family: Inter;
    font-size: 60px;
}

.Services {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    display: flex;
    padding: 20px 33px 21px 33px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #DD2590;
    border: none;
}

.Provide-containe {
    display: flex;
    max-width: 1028px;
    width: 100%;
    justify-content: space-between;
}

.empower-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 38px;
    max-width: 483px;
    width: 100%;
}

.empower-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.empower-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.NextGenNFTs {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px 7px 16px;
    background: #FFC4E7;
}

.NextGen {
    color: #DD2590;

    font-family: Inter;
    font-size: 18px;
}

.ture {
    color: #DD2590;

    font-family: Inter;
    font-size: 45px;
}

.easy {
    color: #FFF;

    font-family: Inter;

    font-size: 18px;
}

.woman {
    height: 480px;
}

.Years-container {
    display: flex;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.Years-box {
    display: flex;
    max-width: 175px;
    width: 100%;
    padding: 35px 34px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    opacity: 0.9;
    background: #FFC4E7;
}

.Experianceee {
    display: flex;
    width: 107px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sit {
    color: #DD2590;

    text-align: center;
    font-family: Mulish;
    font-size: 20px;
}

.suscipi-contant {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 254px;
    width: 100%;
}

.suscipi {
    color: #FFF;

    font-family: Inter;
    font-size: 18px;
}

.Professional-container {
    background: #DD2590;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Professional-contant {
    max-width: 1028px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    padding-top: 84px;
    padding-bottom: 84px;

}

.Professional-div {
    display: flex;
    max-width: 723px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.Professionall {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.Mainn {
    color: #FFF;

    font-family: Inter;
    font-size: 45px;
}

.Proinn {
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 18px;
}

.Commercial-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 723px;
    width: 100%;
}

.Commerciall {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 220px;
    width: 100%;
    background: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2opx;
    padding-right: 20px;
}

.Commercial {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2opx;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    max-width: 220px;
    width: 100%;
    border: 1px solid #FFF;
}

.ercial {
    color: #000;

    font-family: Inter;
    font-size: 20px;
}

.ercaill {
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
}

.Services-coontainer {
    display: flex;
    padding: 59px 66px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 1028px;
    width: 100%;
    gap: 10px;
    background: #FFF;
    box-shadow: 0px 20px 38px 0px rgba(216, 216, 216, 0.25);
}

.reprehenderit-container {
    display: flex;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}

.reprehenderit-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    max-width: 390px;
    width: 100%;
}


.reprehenderit-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.Comm {
    color: #000;

    font-family: Mulish;
    font-size: 35px;
}

.ipsum {
    color: #7E7E7E;

    font-family: Inter;
    font-size: 18px;
}

.Readd {
    display: flex;
    padding: 20px 33px 21px 33px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #DD2590;
    color: #FFF;
    border: none;
    font-family: Inter;
    font-size: 20px;
    cursor: pointer;
}

.facilisi-container {
    max-width: 1028px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px
}

.metuss {
    max-width: 687px;
    width: 100%;
    display: flex;

    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.Ser {
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 45px;
}

.amet {
    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 18px;
}

.Discover-container {
    display: flex;
    padding: 47px 37px 47px 36px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    opacity: 0.9;
    background: #FFE1F3;
    max-width: 326px;
    width: 100%;
}

.Discover-contant {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.Disco {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.carddd {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.NFTtt {
    color: #DD2590;

    font-family: Inter;
    font-size: 20px;
}

.nunula {
    color: #000;

    font-family: Inter;
    font-size: 18px;
}

.caedi {
    color: #000;

    font-family: Inter;
    font-size: 18px;
}

.big-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
}

.Project-container {
    max-width: 1028px;
    width: 100%;
    display: flex;

    align-items: center;
    gap: 60px;
}

.Project-contrainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    max-width: 545px;
    width: 100%;
}

.Project-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.Why {
    color: #DD2590;

    font-family: Inter;
    font-size: 45px;
    font-style: normal;
}

.Project-Project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.facilisiss {
    color: #7E7E7E;

    font-family: Inter;
    font-size: 18px;
}

.blockchain-containerr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.blockchain-container {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

}

.blockchainn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.blockch {
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
}

.blockc {
    color: #7E7E7E;
    font-family: Inter;
    font-size: 18px;
}

.skvidvoer-contaoner {
    background-image: url(../img-folder/image\ 6.png);
    height: 700px;
    max-width: 629px;
    width: 100%;
    padding: 112px 59px;
}

.skvidvoer-container {
    display: inline-flex;
    height: 483px;
    padding: 56px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: rgba(28, 39, 82, 0.30);
    justify-content: space-between;
    backdrop-filter: blur(12.5px);
}

.skvidvoer-box {
    display: flex;
    max-width: 400px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.skvidvoer-div {
    display: flex;
    align-items: flex-start;
    max-width: 400px;
    width: 100%;
}

.skvid {
    padding: 17px 18px;
    background: #DD2590;
    color: #FFF;

    text-align: center;
    font-family: Mulish;
    font-size: 25px;
}

.skvidvoer {
    display: flex;
    height: 65px;
    padding: 17px 22px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #FFF;
    color: #FFF;
    width: 100%;
    font-family: Mulish;
    font-size: 25px;
}

.foto-containerr {
    max-width: 1028px;
    width: 100%;
    display: flex;

}

.foto-wraper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

.foto-contant {
    display: flex;
    max-width: 768px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.justtt {
    color: #DD2590;

    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
}

.frommmm {
    color: #7E7E7E;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
}

.foto-box {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-4xl, 32px);
    align-self: stretch;
}

.footer-container {
    max-width: 1028px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.footer-wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}
.footer-box{
display: flex;
align-items: center;
gap: 69px;
padding: 42px 0;
}
.footer-div {
    display: flex;
width: 440px;
flex-direction: column;
align-items: flex-start;
gap: 60px;
}
.pain {
    color: #FFF;

font-family: Inter;
font-size: 18px;
}
.Blog {
    display: flex;
    align-items: center;
    gap: 34px;
}
.Exploreee {
    color: #FFF;

font-family: Inter;
font-size: 20px;
}